name: CI with Docker Runner

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on:
      - self-hosted
      - docker
      - toto

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Say hello from docker runner
        run: echo "Hello depuis le runner dans un conteneur !"
        
